html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#canvasVideo {
    position: absolute;
    left: calc(50vw - (50vh * 4 / 3));
    top: 0;
    width: calc(100vh * 4 / 3);
    height: 100%;
    z-index: -1;
    background-color: #e0e0e0;
}

#divMessage {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
#divMessage.show {
    display: block;
}
#divMessage.error {
    color: red;
}

.btn {
    padding: 20px;
    min-width: 50px;
    background: rgba(10, 80, 10, 0.5);
    color: white;
    font-weight: bold;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:active {
    background: rgba(10, 80, 10, 0.7);
}

.btn.command {
    position: absolute;
    width: 200px;
    height: 100px;
}

.btn.smallcommand {
    position: absolute;
    width: 140px;
    height: 60px;
}

#btnForward {
    right: 10px;
    bottom: 130px;
}

#btnBackward {
    right: 10px;
    bottom: 10px;
}

#btnLeft {
    left: 10px;
    bottom: 10px;
}

#btnRight {
    left: 230px;
    bottom: 10px;
}

#btnM1Up {
    left: 10px;
    top: calc(25% - 70px);
    display: none;
}

#btnM1Down {
    left: 10px;
    top: calc(25% + 10px);
    display: none;
}

#btnM2Up {
    left: 10px;
    top: calc(75% - 70px);
    display: none;
}

#btnM2Down {
    left: 10px;
    top: calc(75% + 10px);
    display: none;
}

#btnFullScreen {
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: none;
    color: white;
    border: none;
    background-size: 32px 32px;
    cursor: pointer;
    outline: none;
}
